*
{
	margin: 0;
	padding: 0;
}

body
{
	font-family: "Microsoft Yahei";
	font-size: 15px;
}

.wrapper
{
	width: 1280px;
	margin: 0 auto;

}
header
{
	width: 1153px;
	height: 42px;
	padding: 15px 67px 0px 60px;
}

img[alt="new-world"]
{
	margin-right: 12px;
}

img[alt="login"]
{
	margin-right: 5px;
}

	
span.login a
{
	text-decoration: none;
	color: #f66;
}

span.new-world
{
	position: relative;
	display: inline-block;
	height: 36px;
}

span.login a:hover,span.new-world a:hover
{
	color: #d33;
}

span.new-world a
{
	position: absolute;
	width: 64px;
	top: 2px;
	color: #333;
	text-decoration: none;
}

nav
{
	float: right;
}

nav ul li
{
	font-size: 15px;
	text-align: center;
	color: #f66;
	display: inline;
	list-style: none;
	padding: 0 25px 12px 20px;
}

header:first-child
{
	font-size: 20px;
}

nav ul li a
{
	color: #bbb;
	text-decoration: none;
}

nav ul li a:hover
{
	color: #f66;
}

nav ul li:hover
{
	color: #f66;
	border-bottom:solid 4px #f66;
}

span.login
{
	color: #ff6060;
	float: right;
}

div.main-content-top
{	
	color: #fdfdfd;
	min-width: 1162px;
	font-size: 2.2em;
	font-weight: 200;
	padding: 233px 0 0 118px;
	height: 457px;
	background: url(../images/new_life.gif) no-repeat;
}

div.main-content-top h1
{
	font-weight: 400;
	margin-bottom: 20px;
}

div.main-content-top p
{
	margin-bottom: 80px;
}

#start_exp
{
	width: 330px;
	height: 64px;
	background-color: #ff4545; 
	border: none;
	color: #fff;
	font-size: 28px;
	font-weight: lighter;
	word-spacing: 5px;
	box-shadow: 2px 2px 4px #212;
	border-radius: 2px;
	cursor: pointer;
}

#start_exp:hover
{
	background-color: #fd6060;
}

.main-content-list
{
	text-align: center;
}

.main-content-list ul li
{
	position: relative;
	font-size: 14px;
	display: inline-block;
	text-align: center;
	margin: 60px 0 45px 78px;

}

.main-content-list ul li p
{
	margin-top: 46px;
	padding-right: 78px;
	padding-bottom: 15px;
	
}

.list-border-right
{
	border-right: solid 2px #bbb;
}

.main-content-list img
{
	position: absolute;
	left: 50px;
	top: -25px;
}

.main-content-search
{
	text-align: center;
	color: #aaa;
	background-color: #ededed;
	font-size: 28px;
	height: 360px;
}

.main-content-search img
{
	margin: 88px 0 46px 0;
}

.search-cities
{
	color: #fff;
	height: 341px;
	text-align: center;
	background: url(../images/search_for_new.jpg) no-repeat;
}

.search-cities h2
{
	font-size: 2em;
	padding-top: 60px;
}

.search-cities p
{
	padding-top: 30px;
	padding-bottom: 30px;
}

.search-cities-form li
{
	list-style: none;
	display: inline;
	width: 100px;
}

.search-cities-form option
{
	width: 210px;
	height: 30px;
	margin-right: 20px;
}

#search-cities-button
{
	color: #fff;
	font-size: 16px;
	width: 247px;
	height: 34px;
	border: none;
	background-color: #fd5555;
	border-radius: 2px;
	box-shadow: 2px 1px 2px #343;
	cursor: pointer;
}

#search-cities-button:hover
{
	background-color: #ff6565;

}

